@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
  header {
    position: relative;
  }
  header .navclose {
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 100%;
    left: auto !important;
    right: -300px !important;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
  }
  header .navactive {
    flex-direction: column;
    width: 300px;
    align-items: center;
    height: 100%;
    left: auto !important;
    right: 0 !important;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
    padding: 0;
  }
  header nav > a {
    display: none;
  }
  header nav ul {
    flex-direction: column;
    gap: 50px;
    margin: 10px 10% 0 0;
  }
  header nav ul li a {
    padding-bottom: 8px;
    text-align: center;
    display: block;
    width: 100%;
  }
  header nav ul li a::before,
  header nav ul li.active a::before {
    content: "";
    position: absolute;
    width: 170px;
    left: -40px;
    height: 1px;
    background-color: var(--text-color);
  }
  header .fa-solid {
    display: block;
    position: absolute;
    left: 93%;
    top: 30px;
    z-index: 1000000;
  }
  header nav ul li:hover a::before,
  header nav ul li:hover a {
    width: 0%;
    color: var(--text-color);
  }
}
